In [19]:
# Load Amazon S3 data into Spark dataframe


import os
# Find the latest version of spark 3.2 from http://www.apache.org/dist/spark/ and enter as the spark version
# For example:
# spark_version = 'spark-3.2.3'
spark_version = 'spark-3.2.3'
os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q http://www.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop2.7.tgz
!tar xf $SPARK_VERSION-bin-hadoop2.7.tgz
!pip install -q findspark

# Set Environment Variables
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop2.7"

# Start a SparkSession
import findspark
findspark.init()

Get:1 https://cloud.r-project.org/bin/linux/ubuntu focal-cran40/ InRelease [3,622 B]
Hit:2 http://archive.ubuntu.com/ubuntu focal InRelease
Hit:3 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2004/x86_64  InRelease
Hit:4 http://archive.ubuntu.com/ubuntu focal-updates InRelease
Hit:5 http://archive.ubuntu.com/ubuntu focal-backports InRelease
Hit:6 http://security.ubuntu.com/ubuntu focal-security InRelease
Hit:7 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu focal InRelease
Hit:8 http://ppa.launchpad.net/cran/libgit2/ubuntu focal InRelease
Hit:9 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu focal InRelease
Hit:10 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu focal InRelease
Hit:11 http://ppa.launchpad.net/ubuntugis/ppa/ubuntu focal InRelease
Fetched 3,622 B in 1s (2,610 B/s)
Reading package lists... Done

In [20]:
# Download the Postgres driver that will allow Spark to interact with Postgres.
!wget https://jdbc.postgresql.org/download/postgresql-42.2.16.jar

--2023-04-09 17:20:15--  https://jdbc.postgresql.org/download/postgresql-42.2.16.jar
Resolving jdbc.postgresql.org (jdbc.postgresql.org)... 72.32.157.228, 2001:4800:3e1:1::228
Connecting to jdbc.postgresql.org (jdbc.postgresql.org)|72.32.157.228|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1002883 (979K) [application/java-archive]
Saving to: ‘postgresql-42.2.16.jar.1’

postgresql-42.2.16. 100%[===================>] 979.38K  --.-KB/s    in 0.08s

2023-04-09 17:20:15 (11.3 MB/s) - ‘postgresql-42.2.16.jar.1’ saved [1002883/1002883]

In [21]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Final-Project").config("spark.driver.extraClassPath","/content/postgresql-42.2.16.jar").getOrCreate()

In [22]:
from pyspark import SparkFiles
url = "https://highered-bucket.s3.amazonaws.com/highered_merged_data.csv"
spark.sparkContext.addFile(url)
highered_data_df = spark.read.option("encoding", "UTF-8").csv(SparkFiles.get(""), header=True, inferSchema=True)
highered_data_df.show()

+----+------+-------+-----+-------+-------+-------+--------------------+------+------+-----+-------+-------+--------+----------+---------+
|Year|UNITID|FACSTAT|ARANK|HRTOTLT|HRTOTLM|HRTOTLW|              INSTNM|  CITY|STABBR|  ZIP|CONTROL|HLOFFER|INSTSIZE|  LONGITUD| LATITUDE|
+----+------+-------+-----+-------+-------+-------+--------------------+------+------+-----+-------+-------+--------+----------+---------+
|2019|100654|      0|    0|    242|    131|    111|Alabama A & M Uni...|Normal|    AL|35762|      1|      9|       3|-86.568502|34.783368|
|2019|100654|     10|    0|    242|    131|    111|Alabama A & M Uni...|Normal|    AL|35762|      1|      9|       3|-86.568502|34.783368|
|2019|100654|     10|    1|     49|     37|     12|Alabama A & M Uni...|Normal|    AL|35762|      1|      9|       3|-86.568502|34.783368|
|2019|100654|     10|    2|     50|     34|     16|Alabama A & M Uni...|Normal|    AL|35762|      1|      9|       3|-86.568502|34.783368|
|2019|100654|     10|    3|     98|     46|     52|Alabama A & M Uni...|Normal|    AL|35762|      1|      9|       3|-86.568502|34.783368|
|2019|100654|     10|    4|     38|     11|     27|Alabama A & M Uni...|Normal|    AL|35762|      1|      9|       3|-86.568502|34.783368|
|2019|100654|     10|    5|      7|      3|      4|Alabama A & M Uni...|Normal|    AL|35762|      1|      9|       3|-86.568502|34.783368|
|2019|100654|     20|    0|     99|     68|     31|Alabama A & M Uni...|Normal|    AL|35762|      1|      9|       3|-86.568502|34.783368|
|2019|100654|     20|    1|     49|     37|     12|Alabama A & M Uni...|Normal|    AL|35762|      1|      9|       3|-86.568502|34.783368|
|2019|100654|     20|    2|     32|     22|     10|Alabama A & M Uni...|Normal|    AL|35762|      1|      9|       3|-86.568502|34.783368|
|2019|100654|     20|    3|     18|      9|      9|Alabama A & M Uni...|Normal|    AL|35762|      1|      9|       3|-86.568502|34.783368|
|2019|100654|     30|    0|     39|     16|     23|Alabama A & M Uni...|Normal|    AL|35762|      1|      9|       3|-86.568502|34.783368|
|2019|100654|     30|    2|      9|      5|      4|Alabama A & M Uni...|Normal|    AL|35762|      1|      9|       3|-86.568502|34.783368|
|2019|100654|     30|    3|     30|     11|     19|Alabama A & M Uni...|Normal|    AL|35762|      1|      9|       3|-86.568502|34.783368|
|2019|100654|     40|    0|    104|     47|     57|Alabama A & M Uni...|Normal|    AL|35762|      1|      9|       3|-86.568502|34.783368|
|2019|100654|     40|    2|      9|      7|      2|Alabama A & M Uni...|Normal|    AL|35762|      1|      9|       3|-86.568502|34.783368|
|2019|100654|     40|    3|     50|     26|     24|Alabama A & M Uni...|Normal|    AL|35762|      1|      9|       3|-86.568502|34.783368|
|2019|100654|     40|    4|     38|     11|     27|Alabama A & M Uni...|Normal|    AL|35762|      1|      9|       3|-86.568502|34.783368|
|2019|100654|     40|    5|      7|      3|      4|Alabama A & M Uni...|Normal|    AL|35762|      1|      9|       3|-86.568502|34.783368|
|2019|100654|     42|    0|    104|     47|     57|Alabama A & M Uni...|Normal|    AL|35762|      1|      9|       3|-86.568502|34.783368|
+----+------+-------+-----+-------+-------+-------+--------------------+------+------+-----+-------+-------+--------+----------+---------+
only showing top 20 rows

In [44]:
# Import PySpark Pandas
import pyspark.pandas as ps

WARNING:root:'PYARROW_IGNORE_TIMEZONE' environment variable was not set. It is required to set this environment variable to '1' in both driver and executor sides if you use pyarrow>=2.0.0. pandas-on-Spark will set it for you but it does not work if there is a Spark context already launched.

In [48]:
# Read table as a pandas dataframe
pandas_df = ps.DataFrame(highered_data_df)
pandas_df.head(10)

   Year  UNITID  FACSTAT  ARANK  HRTOTLT  HRTOTLM  HRTOTLW                    INSTNM    CITY STABBR    ZIP  CONTROL  HLOFFER  INSTSIZE   LONGITUD   LATITUDE
0  2019  100654        0      0      242      131      111  Alabama A & M University  Normal     AL  35762        1        9         3 -86.568502  34.783368
1  2019  100654       10      0      242      131      111  Alabama A & M University  Normal     AL  35762        1        9         3 -86.568502  34.783368
2  2019  100654       10      1       49       37       12  Alabama A & M University  Normal     AL  35762        1        9         3 -86.568502  34.783368
3  2019  100654       10      2       50       34       16  Alabama A & M University  Normal     AL  35762        1        9         3 -86.568502  34.783368
4  2019  100654       10      3       98       46       52  Alabama A & M University  Normal     AL  35762        1        9         3 -86.568502  34.783368
5  2019  100654       10      4       38       11       27  Alabama A & M University  Normal     AL  35762        1        9         3 -86.568502  34.783368
6  2019  100654       10      5        7        3        4  Alabama A & M University  Normal     AL  35762        1        9         3 -86.568502  34.783368
7  2019  100654       20      0       99       68       31  Alabama A & M University  Normal     AL  35762        1        9         3 -86.568502  34.783368
8  2019  100654       20      1       49       37       12  Alabama A & M University  Normal     AL  35762        1        9         3 -86.568502  34.783368
9  2019  100654       20      2       32       22       10  Alabama A & M University  Normal     AL  35762        1        9         3 -86.568502  34.783368

In [62]:
# Drop FACSTAT column
test_df = pandas_df.drop(["FACSTAT", "ARANK"], axis=1)
test_df.head(10)

   Year  UNITID  HRTOTLT  HRTOTLM  HRTOTLW                    INSTNM    CITY STABBR    ZIP  CONTROL  HLOFFER  INSTSIZE   LONGITUD   LATITUDE
0  2019  100654      242      131      111  Alabama A & M University  Normal     AL  35762        1        9         3 -86.568502  34.783368
1  2019  100654      242      131      111  Alabama A & M University  Normal     AL  35762        1        9         3 -86.568502  34.783368
2  2019  100654       49       37       12  Alabama A & M University  Normal     AL  35762        1        9         3 -86.568502  34.783368
3  2019  100654       50       34       16  Alabama A & M University  Normal     AL  35762        1        9         3 -86.568502  34.783368
4  2019  100654       98       46       52  Alabama A & M University  Normal     AL  35762        1        9         3 -86.568502  34.783368
5  2019  100654       38       11       27  Alabama A & M University  Normal     AL  35762        1        9         3 -86.568502  34.783368
6  2019  100654        7        3        4  Alabama A & M University  Normal     AL  35762        1        9         3 -86.568502  34.783368
7  2019  100654       99       68       31  Alabama A & M University  Normal     AL  35762        1        9         3 -86.568502  34.783368
8  2019  100654       49       37       12  Alabama A & M University  Normal     AL  35762        1        9         3 -86.568502  34.783368
9  2019  100654       32       22       10  Alabama A & M University  Normal     AL  35762        1        9         3 -86.568502  34.783368

In [65]:
# Drop Duplicates
test_df.drop_duplicates()
test_df.head(20)

    Year  UNITID  HRTOTLT  HRTOTLM  HRTOTLW                               INSTNM        CITY STABBR         ZIP  CONTROL  HLOFFER  INSTSIZE   LONGITUD   LATITUDE
6   2019  100654        7        3        4             Alabama A & M University      Normal     AL       35762        1        9         3 -86.568502  34.783368
12  2019  100654        9        5        4             Alabama A & M University      Normal     AL       35762        1        9         3 -86.568502  34.783368
15  2019  100654        9        7        2             Alabama A & M University      Normal     AL       35762        1        9         3 -86.568502  34.783368
10  2019  100654       18        9        9             Alabama A & M University      Normal     AL       35762        1        9         3 -86.568502  34.783368
13  2019  100654       30       11       19             Alabama A & M University      Normal     AL       35762        1        9         3 -86.568502  34.783368
9   2019  100654       32       22       10             Alabama A & M University      Normal     AL       35762        1        9         3 -86.568502  34.783368
5   2019  100654       38       11       27             Alabama A & M University      Normal     AL       35762        1        9         3 -86.568502  34.783368
11  2019  100654       39       16       23             Alabama A & M University      Normal     AL       35762        1        9         3 -86.568502  34.783368
2   2019  100654       49       37       12             Alabama A & M University      Normal     AL       35762        1        9         3 -86.568502  34.783368
16  2019  100654       50       26       24             Alabama A & M University      Normal     AL       35762        1        9         3 -86.568502  34.783368
3   2019  100654       50       34       16             Alabama A & M University      Normal     AL       35762        1        9         3 -86.568502  34.783368
4   2019  100654       98       46       52             Alabama A & M University      Normal     AL       35762        1        9         3 -86.568502  34.783368
7   2019  100654       99       68       31             Alabama A & M University      Normal     AL       35762        1        9         3 -86.568502  34.783368
14  2019  100654      104       47       57             Alabama A & M University      Normal     AL       35762        1        9         3 -86.568502  34.783368
0   2019  100654      242      131      111             Alabama A & M University      Normal     AL       35762        1        9         3 -86.568502  34.783368
33  2019  100663        1        0        1  University of Alabama at Birmingham  Birmingham     AL  35294-0110        1        9         5 -86.799345  33.505697
35  2019  100663        9        6        3  University of Alabama at Birmingham  Birmingham     AL  35294-0110        1        9         5 -86.799345  33.505697
36  2019  100663      109       67       42  University of Alabama at Birmingham  Birmingham     AL  35294-0110        1        9         5 -86.799345  33.505697
39  2019  100663      122       71       51  University of Alabama at Birmingham  Birmingham     AL  35294-0110        1        9         5 -86.799345  33.505697
29  2019  100663      218       84      134  University of Alabama at Birmingham  Birmingham     AL  35294-0110        1        9         5 -86.799345  33.505697

In [80]:
test1_df = test_df[['Year', 'UNITID', 'HRTOTLT', 'HRTOTLM', 'HRTOTLW','INSTSIZE']]
test1_df.head()

    Year  UNITID  HRTOTLT  HRTOTLM  HRTOTLW  INSTSIZE
6   2019  100654        7        3        4         3
12  2019  100654        9        5        4         3
15  2019  100654        9        7        2         3
10  2019  100654       18        9        9         3
13  2019  100654       30       11       19         3

In [82]:
test1_df.groupby(['UNITID','Year'])['HRTOTLT'].sum().head(10)

UNITID  Year
141264  2019    2054
155025  2019     882
157304  2019     398
188207  2019       4
197285  2019      44
199263  2019      27
210146  2019     485
213376  2019     136
218441  2019     314
219347  2019     586
Name: HRTOTLT, dtype: int64

In [42]:
highered_data_df.dropDuplicates().show()

+----+------+-------+-----+-------+-------+-------+--------------------+------------+------+----------+-------+-------+--------+-----------+---------+
|Year|UNITID|FACSTAT|ARANK|HRTOTLT|HRTOTLM|HRTOTLW|              INSTNM|        CITY|STABBR|       ZIP|CONTROL|HLOFFER|INSTSIZE|   LONGITUD| LATITUDE|
+----+------+-------+-----+-------+-------+-------+--------------------+------------+------+----------+-------+-------+--------+-----------+---------+
|2019|100654|     10|    2|     50|     34|     16|Alabama A & M Uni...|      Normal|    AL|     35762|      1|      9|       3| -86.568502|34.783368|
|2019|100690|     43|    2|      1|      1|      0|  Amridge University|  Montgomery|    AL|36117-3553|      2|      9|       1|  -86.17401|32.362609|
|2019|100858|     20|    0|    718|    489|    229|   Auburn University|      Auburn|    AL|     36849|      1|      9|       5| -85.488258|32.599378|
|2019|101462|     42|    6|      1|      0|      1|J. F. Drake State...|  Huntsville|    AL|     35811|      1|      3|       1| -86.572885|34.771858|
|2019|101505|     10|    0|    147|     48|     99|Jefferson State C...|  Birmingham|    AL|35215-3098|      1|      3|       3| -86.707233|33.652535|
|2019|102067|     40|    6|      4|      0|      4|Shelton State Com...|  Tuscaloosa|    AL|35405-8522|      1|      3|       2|  -87.56148|33.120531|
|2019|102234|     42|    0|     15|      5|     10| Spring Hill College|      Mobile|    AL|36608-1791|      2|      8|       2| -88.138199|30.694751|
|2019|102614|     10|    4|     25|     13|     12|University of Ala...|   Fairbanks|    AK|     99775|      1|      9|       3|-147.823146| 64.85756|
|2019|102632|     10|    2|     29|     13|     16|University of Ala...|      Juneau|    AK|99801-8697|      1|      7|       2|-134.638255|58.384846|
|2019|102632|     40|    2|      2|      1|      1|University of Ala...|      Juneau|    AK|99801-8697|      1|      7|       2|-134.638255|58.384846|
|2019|102632|     41|    3|      7|      5|      2|University of Ala...|      Juneau|    AK|99801-8697|      1|      7|       2|-134.638255|58.384846|
|2019|106467|     20|    1|     74|     46|     28|Arkansas Tech Uni...|Russellville|    AR|72801-2222|      1|      9|       4|  -93.13562|35.293237|
|2019|106810|     10|    4|      2|      1|      1|Crowley's Ridge C...|   Paragould|    AR|     72450|      2|      5|       1| -90.584395|36.064845|
|2019|106810|     40|    4|      2|      1|      1|Crowley's Ridge C...|   Paragould|    AR|     72450|      2|      5|       1| -90.584395|36.064845|
|2019|107549|     40|    4|     34|     15|     19|      Ozarka College|   Melbourne|    AR|72556-0010|      1|      3|       2| -91.896355|36.053031|
|2019|107974|     50|    0|      4|      2|      2|South Arkansas Co...|   El Dorado|    AR|71731-7010|      1|      3|       2| -92.666087|33.209446|
|2019|107983|     40|    4|     42|     19|     23|Southern Arkansas...|    Magnolia|    AR|     71753|      1|      7|       2| -93.235922|33.291618|
|2019|109651|     40|    1|     56|     38|     18|Art Center Colleg...|    Pasadena|    CA|     91103|      2|      7|       2|-118.185102|34.169031|
|2019|109785|     42|    3|    115|     37|     78|Azusa Pacific Uni...|       Azusa|    CA|91702-7000|      2|      9|       3|-117.888375|34.130047|
|2019|110529|     40|    5|    114|     61|     53|California State ...|      Pomona|    CA|     91768|      1|      9|       5|-117.821476|34.057912|
+----+------+-------+-----+-------+-------+-------+--------------------+------------+------+----------+-------+-------+--------+-----------+---------+
only showing top 20 rows

In [25]:
# Drop columns ARANK and FACSTAT
df_test = highered_data_df.drop("ARANK", "FACSTAT")
df_test.show()

+----+------+-------+-------+-------+--------------------+------+------+-----+-------+-------+--------+----------+---------+
|Year|UNITID|HRTOTLT|HRTOTLM|HRTOTLW|              INSTNM|  CITY|STABBR|  ZIP|CONTROL|HLOFFER|INSTSIZE|  LONGITUD| LATITUDE|
+----+------+-------+-------+-------+--------------------+------+------+-----+-------+-------+--------+----------+---------+
|2019|100654|    242|    131|    111|Alabama A & M Uni...|Normal|    AL|35762|      1|      9|       3|-86.568502|34.783368|
|2019|100654|    242|    131|    111|Alabama A & M Uni...|Normal|    AL|35762|      1|      9|       3|-86.568502|34.783368|
|2019|100654|     49|     37|     12|Alabama A & M Uni...|Normal|    AL|35762|      1|      9|       3|-86.568502|34.783368|
|2019|100654|     50|     34|     16|Alabama A & M Uni...|Normal|    AL|35762|      1|      9|       3|-86.568502|34.783368|
|2019|100654|     98|     46|     52|Alabama A & M Uni...|Normal|    AL|35762|      1|      9|       3|-86.568502|34.783368|
|2019|100654|     38|     11|     27|Alabama A & M Uni...|Normal|    AL|35762|      1|      9|       3|-86.568502|34.783368|
|2019|100654|      7|      3|      4|Alabama A & M Uni...|Normal|    AL|35762|      1|      9|       3|-86.568502|34.783368|
|2019|100654|     99|     68|     31|Alabama A & M Uni...|Normal|    AL|35762|      1|      9|       3|-86.568502|34.783368|
|2019|100654|     49|     37|     12|Alabama A & M Uni...|Normal|    AL|35762|      1|      9|       3|-86.568502|34.783368|
|2019|100654|     32|     22|     10|Alabama A & M Uni...|Normal|    AL|35762|      1|      9|       3|-86.568502|34.783368|
|2019|100654|     18|      9|      9|Alabama A & M Uni...|Normal|    AL|35762|      1|      9|       3|-86.568502|34.783368|
|2019|100654|     39|     16|     23|Alabama A & M Uni...|Normal|    AL|35762|      1|      9|       3|-86.568502|34.783368|
|2019|100654|      9|      5|      4|Alabama A & M Uni...|Normal|    AL|35762|      1|      9|       3|-86.568502|34.783368|
|2019|100654|     30|     11|     19|Alabama A & M Uni...|Normal|    AL|35762|      1|      9|       3|-86.568502|34.783368|
|2019|100654|    104|     47|     57|Alabama A & M Uni...|Normal|    AL|35762|      1|      9|       3|-86.568502|34.783368|
|2019|100654|      9|      7|      2|Alabama A & M Uni...|Normal|    AL|35762|      1|      9|       3|-86.568502|34.783368|
|2019|100654|     50|     26|     24|Alabama A & M Uni...|Normal|    AL|35762|      1|      9|       3|-86.568502|34.783368|
|2019|100654|     38|     11|     27|Alabama A & M Uni...|Normal|    AL|35762|      1|      9|       3|-86.568502|34.783368|
|2019|100654|      7|      3|      4|Alabama A & M Uni...|Normal|    AL|35762|      1|      9|       3|-86.568502|34.783368|
|2019|100654|    104|     47|     57|Alabama A & M Uni...|Normal|    AL|35762|      1|      9|       3|-86.568502|34.783368|
+----+------+-------+-------+-------+--------------------+------+------+-----+-------+-------+--------+----------+---------+
only showing top 20 rows

In [41]:
df_test.dropDuplicates().show()

+----+------+-------+-------+-------+--------------------+-------------+------+----------+-------+-------+--------+-----------+---------+
|Year|UNITID|HRTOTLT|HRTOTLM|HRTOTLW|              INSTNM|         CITY|STABBR|       ZIP|CONTROL|HLOFFER|INSTSIZE|   LONGITUD| LATITUDE|
+----+------+-------+-------+-------+--------------------+-------------+------+----------+-------+-------+--------+-----------+---------+
|2019|101587|     25|     11|     14|University of Wes...|   Livingston|    AL|     35470|      1|      9|       3| -88.186329|32.588132|
|2019|101879|      3|      2|      1|University of Nor...|     Florence|    AL|35632-0001|      1|      8|       3| -87.681361|34.806738|
|2019|101879|     61|     30|     31|University of Nor...|     Florence|    AL|35632-0001|      1|      8|       3| -87.681361|34.806738|
|2019|102049|    180|    114|     66|  Samford University|   Birmingham|    AL|35229-2240|      2|      9|       3| -86.791799|33.464128|
|2019|102234|      7|      2|      5| Spring Hill College|       Mobile|    AL|36608-1791|      2|      8|       2| -88.138199|30.694751|
|2019|104179|   2118|   1238|    880|University of Ari...|       Tucson|    AZ|85721-0066|      1|      9|       5|-110.950815|32.232672|
|2019|104179|    781|    536|    245|University of Ari...|       Tucson|    AZ|85721-0066|      1|      9|       5|-110.950815|32.232672|
|2019|109785|     17|      1|     16|Azusa Pacific Uni...|        Azusa|    CA|91702-7000|      2|      9|       3|-117.888375|34.130047|
|2019|110398|     43|     22|     21|University of Cal...|San Francisco|    CA|94102-4978|      1|      9|       1|  -122.4157|37.781137|
|2019|110398|      3|      1|      2|University of Cal...|San Francisco|    CA|94102-4978|      1|      9|       1|  -122.4157|37.781137|
|2019|110486|      2|      0|      2|California State ...|  Bakersfield|    CA|93311-1099|      1|      9|       4|-119.104711|35.350005|
|2019|110608|    393|    212|    181|California State ...|   Northridge|    CA|     91330|      1|      9|       5|-118.529319|34.240126|
|2019|110662|      7|      2|      5|University of Cal...|  Los Angeles|    CA|90095-1405|      1|      9|       5|-118.443901|34.068892|
|2019|110680|     41|     24|     17|University of Cal...|     La Jolla|    CA|     92093|      1|      9|       5|-117.235866|32.877749|
|2019|111948|     81|     33|     48|  Chapman University|       Orange|    CA|     92866|      2|      9|       3|-117.852518| 33.79302|
|2019|113111|     60|     30|     30|Crafton Hills Col...|      Yucaipa|    CA|92339-1799|      1|      4|       3|-117.101173|34.039178|
|2019|117274|     16|      7|      9|Lassen Community ...|   Susanville|    CA|     96130|      1|      3|       2|-120.633271|40.432053|
|2019|117946|    153|     59|     94|Loyola Marymount ...|  Los Angeles|    CA|90045-2659|      2|      9|       3|-118.415744| 33.97085|
|2019|120698|      9|      5|      4|Palo Alto University|    Palo Alto|    CA|94304-1337|      2|      9|       2|-122.187437|37.382216|
|2019|122409|    226|    129|     97|San Diego State U...|    San Diego|    CA|92182-0001|      1|      9|       5|-117.071228| 32.77525|
+----+------+-------+-------+-------+--------------------+-------------+------+----------+-------+-------+--------+-----------+---------+
only showing top 20 rows

In [40]:
# Create the institution size table
institution_size_df = df_test.groupBy("UNITID", "Year") \
.sum("HRTOTLT", "HRTOTLM", "HRTOTLW")\
.show()

+------+----+------------+------------+------------+
|UNITID|Year|sum(HRTOTLT)|sum(HRTOTLM)|sum(HRTOTLW)|
+------+----+------------+------------+------------+
|141264|2019|        2319|        1106|        1213|
|151467|2019|         135|           9|         126|
|155025|2019|        1341|         632|         709|
|157304|2019|         501|         169|         332|
|188207|2019|          36|           0|          36|
|197285|2019|         198|          99|          99|
|199263|2019|         189|         105|          84|
|199449|2019|         693|         287|         406|
|210146|2019|         793|         428|         365|
|213376|2019|         157|          57|         100|
|218441|2019|        1099|         623|         476|
|219347|2019|         850|         633|         217|
|221184|2019|        1071|         469|         602|
|222992|2019|        4186|        1813|        2373|
|242626|2019|         419|         161|         258|
|243443|2019|         335|         105|         230|
|430184|2019|          45|          27|          18|
|433420|2019|         279|         252|          27|
|434900|2019|         243|         108|         135|
|449870|2019|          90|          49|          41|
+------+----+------------+------------+------------+
only showing top 20 rows

In [ ]:
df.groupBy("department","state") \
    .sum("salary","bonus") \
    .show(false)

In [8]:
# Drop duplicates
institution_size_df.distinct().show()

+----+------+-------+-------+-------+--------+
|YEAR|UNITID|HRTOTLT|HRTOTLM|HRTOTLW|INSTSIZE|
+----+------+-------+-------+-------+--------+
|2019|100663|    397|    205|    192|       5|
|2019|100751|    408|    231|    177|       5|
|2019|102049|     49|     14|     35|       3|
|2019|102313|     31|     18|     13|       2|
|2019|104179|    781|    536|    245|       5|
|2019|104717|     89|     41|     48|       5|
|2019|107600|     20|      8|     12|       1|
|2019|107974|      8|      2|      6|       2|
|2019|107983|     41|     24|     17|       2|
|2019|110404|      2|      1|      1|       2|
|2019|112251|     21|      8|     13|       2|
|2019|112260|      5|      1|      4|       2|
|2019|117724|      1|      0|      1|       4|
|2019|117946|      3|      1|      2|       3|
|2019|119137|     41|     17|     24|       4|
|2019|120865|     22|     12|     10|       1|
|2019|121707|     54|     30|     24|       2|
|2019|122296|    171|     42|    129|       2|
|2019|122454|     13|      8|      5|       1|
|2019|122755|     46|     21|     25|       5|
+----+------+-------+-------+-------+--------+
only showing top 20 rows

In [33]:
# Create the appointment_type table
appointment_type_df = highered_data_df.select(["YEAR", "UNITID", "ARANK", "HRTOTLT", "HRTOTLM", "HRTOTLW"])
appointment_type_df.show()

+----+------+-----+-------+-------+-------+
|YEAR|UNITID|ARANK|HRTOTLT|HRTOTLM|HRTOTLW|
+----+------+-----+-------+-------+-------+
|2019|100654|    0|    242|    131|    111|
|2019|100654|    0|    242|    131|    111|
|2019|100654|    1|     49|     37|     12|
|2019|100654|    2|     50|     34|     16|
|2019|100654|    3|     98|     46|     52|
|2019|100654|    4|     38|     11|     27|
|2019|100654|    5|      7|      3|      4|
|2019|100654|    0|     99|     68|     31|
|2019|100654|    1|     49|     37|     12|
|2019|100654|    2|     32|     22|     10|
|2019|100654|    3|     18|      9|      9|
|2019|100654|    0|     39|     16|     23|
|2019|100654|    2|      9|      5|      4|
|2019|100654|    3|     30|     11|     19|
|2019|100654|    0|    104|     47|     57|
|2019|100654|    2|      9|      7|      2|
|2019|100654|    3|     50|     26|     24|
|2019|100654|    4|     38|     11|     27|
|2019|100654|    5|      7|      3|      4|
|2019|100654|    0|    104|     47|     57|
+----+------+-----+-------+-------+-------+
only showing top 20 rows

In [38]:
appointment_type_df.dtypes

[('YEAR', 'int'),
 ('UNITID', 'int'),
 ('ARANK', 'int'),
 ('HRTOTLT', 'int'),
 ('HRTOTLM', 'int'),
 ('HRTOTLW', 'int')]

In [51]:
from pyspark.sql.types import IntegerType,StringType
from pyspark.sql.functions import col
test_df = appointment_type_df.withColumn("UNITID",col("UNITID").cast(StringType())) \
.withColumn("ARANK",col("ARANK").cast(StringType())) \
.withColumn("HRTOTLT",col("HRTOTLT").cast(StringType()))
test_df.dtypes

[('YEAR', 'int'),
 ('UNITID', 'string'),
 ('ARANK', 'string'),
 ('HRTOTLT', 'string'),
 ('HRTOTLM', 'int'),
 ('HRTOTLW', 'int')]

In [52]:
test_df.drop_duplicates().show()

+----+------+-----+-------+-------+-------+
|YEAR|UNITID|ARANK|HRTOTLT|HRTOTLM|HRTOTLW|
+----+------+-----+-------+-------+-------+
|2019|100706|    4|      2|      0|      2|
|2019|100751|    3|    369|    207|    162|
|2019|101189|    0|     26|     12|     14|
|2019|101879|    5|     38|     14|     24|
|2019|102049|    0|     87|     40|     47|
|2019|102368|    6|      1|      1|      0|
|2019|102614|    0|     23|     13|     10|
|2019|105428|    0|    148|     62|     86|
|2019|107600|    4|     13|      4|      9|
|2019|118930|    0|     29|     13|     16|
|2019|120698|    6|     12|      4|      8|
|2019|120883|    1|     22|      8|     14|
|2019|122506|    0|      2|      1|      1|
|2019|122746|    0|    123|     46|     77|
|2019|125091|    0|      1|      0|      1|
|2019|125231|    0|    219|     65|    154|
|2019|125499|    0|    214|     87|    127|
|2019|125727|    2|      1|      1|      0|
|2019|127060|    0|    274|    114|    160|
|2019|127741|    0|    113|     33|     80|
+----+------+-----+-------+-------+-------+
only showing top 20 rows